* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(207, 27%, 38%);
  --secondary: #eff7ff;
  --textprimary: white;
  --textsecondary: black;
  --outlinefocus: 5px ridge black;
  --outlineradius: 3px;
}

@font-face {
  font-family: "customfont";
  src: url(SairaCondensed-Bold.ttf);
}

body {
  display: grid;
  grid-template-areas: 
  'nav'
  'header'
  'main'
  'footer';
}

nav {
  grid-area: nav;
  background: var(--primary);
}

nav ul {
  /* positionering */
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: end;
  padding: 1em;
}

nav ul li {
  /* positionering */
  margin-left: 2em;
  /* text customization */
  font-family: "customfont";
  font-size: 1.1em;
  text-transform: uppercase;
  background: var(--primary);
  color: var(--textprimary);
  padding: 0 0.5em;
}

nav ul li a {
  /* text customization */
  font-family: "customfont";
  font-size: 1.1em;
  text-transform: uppercase;
  background: var(--primary);
  color: var(--textprimary);
  padding: 0 0.5em;
  text-decoration: none;
}

body nav ul li:focus {
  outline: var(--outlinefocus);
  border-radius: var(--outlineradius);
}

nav ul li a:focus {
  outline: var(--outlinefocus);
  border-radius: var(--outlineradius);
  /* outline-offset: 10px; */
}

nav ul :last-child {
  background-color: var(--textprimary);
  color: var(--primary);
  border-radius: 5em;
}

header {
  grid-area: header;
  background: var(--primary);
}

header h1 {
  /* positionering */
  display: flex;
  justify-content: center;
  padding: 1em;
  /* text customization */
  font-family: "customfont";
  text-transform: uppercase;
  color: var(--textprimary);
  font-size: 4em;
}

header button {
  /* positionering */
  display: flex;
  margin: auto;
  margin-bottom: 2em;
  /* text customization */
  font-family: "customfont";
  background: var(--textprimary);
  color: var(--primary);
  font-size: 2em;
  text-transform: uppercase;
  /* button customization */
  border: none;
  padding: 0 0.5em;
}

header button:hover {
  cursor: pointer;
}

header button:focus {
  outline: var(--outlinefocus);
  border-radius: var(--outlineradius);
}

main {
  grid-area: main;
}

article {
  display: flex;
  margin: 5em;
  background: white;
}

article section {
  background: white;
}

article section h2 {
  justify-content: start;
}

h2 {
  /* positionering */
  display: flex;
  justify-content: space-around;
  /* text customization */
  font-family: "customfont";
  text-transform: uppercase;
  font-size: 2.5em;
  color: var(--textsecondary);
}

article p {
  /* text-customization */
  font-family: "customfont";
  font-weight: 100;
}

section {
  background: var(--secondary);
  padding: 2em;
}

section ul {
  /* positionering */
  display: flex;
  overflow: auto;
  max-width: 70vw;
  justify-content: center;
  margin: 0 auto;
  /* opmaak */
  gap: 1em;
  list-style: none;
  padding: 2em;
}

section ul li {
  display: flex;
  justify-content: center;
  /* max-width: 60%; */
}

section button {
  /* positionering */
  display: flex;
  margin: auto;
  /* text customization */
  font-family: "customfont";
  background: var(--primary);
  color: var(--textprimary);
  font-size: 2em;
  text-transform: uppercase;
  /* button customization */
  border: none;
  padding: 0 0.5em;
}

section button:hover {
  cursor: pointer;
}

section button:focus {
  outline: var(--outlinefocus);
  border-radius: var(--outlineradius);
}

footer {
  grid-area: footer;
  margin-top: 2em;
  padding: 4em;
  /* kleuring */
  background: var(--primary);
}

footer p {
  /* positionering */
  display: flex;
  justify-content: end;
  /* text customization */
  font-family: "customfont";
  color: var(--textprimary);
}