* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headerheight: 2em;
    --mainfont: "urwdindemi";
    --headerfontweight: 600;
    --headerupcase: uppercase;
    --headerbackground: rgb(31, 31, 66);
}

@font-face {
    font-family: urwdindemi;
    src: url(fonts/URWDINSemiCond-Demi.ttf);
}

body {
    background: var(--headerbackground);
}

ul {
    list-style: none;
}

h1 {
    font-family: var(--mainfont);
    color: white;
}

header {
    display: flex;
    padding: 1em;
}

header h1 {
    display: flex;
}

header ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: var(--mainfont);
    gap: 2em;
    margin-left: auto;
}

header ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding-bottom: 1em;
}

main img {
    display: flex;
    flex-direction: row;
    width: 49.5vw;
}

.mainfotos {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    position: relative;
}

.vraag img {
    border-top-right-radius: 10px;
}

.vraag h1 {
    position: absolute;
    top: 0;
    margin: 13vw;
    font-size: 3em;
    text-shadow: 0 5px 5px black;
}

.vraagknop {
    position: absolute;
    top: 0;
    background: var(--headerbackground);
    padding: 1em 1.5em;
    margin: 20vw;
    box-shadow: 0 0 5px 0 black; 
    border-radius: 2px; 
}

.vraagknop p {
    color: white;
    text-decoration: none;
    font-family: var(--mainfont);
    font-size: 2em;
}

.aanbod img {
    border-top-left-radius: 10px;
}

.aanbod h1 {
    position: absolute;
    width: 30vw;
    top: 0;
    margin: 13vw;
    font-size: 3em;
    text-shadow: 0 5px 5px black;
}

.aanbodknop {
    position: absolute;
    top: 0;
    background: var(--headerbackground);
    padding: 1em 1.5em;
    margin: 20vw;
    box-shadow: 0 0 5px 0 black;  
    border-radius: 2px;
}

.aanbodknop p {
    color: white;
    text-decoration: none;
    font-family: var(--mainfont);
    font-size: 2em;
}
  
  footer {
    grid-area: f;
    background: var(--blue);
    padding: 2em;
    font-family: "customfont";
    color: white;
    display: flex;
    justify-content: end;
  }