* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(207, 27%, 38%);
  --secondary: #eff7ff;
  --textprimary: white;
  --textsecondary: black;
}

@font-face {
  font-family: "customfont";
  src: url(SairaCondensed-Bold.ttf);
}

body {
  display: grid;
  grid-template-areas: 
  'nav'
  'header'
  'main'
  'footer';
}

nav {
  grid-area: nav;
  background: var(--primary);
}

nav ul {
  /* positionering */
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: end;
  padding: 1em;
}

nav ul li {
  /* positionering */
  margin-left: 2em;
  /* text customization */
  font-family: "customfont";
  font-size: 1.1em;
  text-transform: uppercase;
  background: var(--primary);
  color: var(--textprimary);
  padding: 0 0.5em;
}

nav ul :last-child {
  background-color: var(--textprimary);
  color: var(--primary);
  border-radius: 5em;
}

header {
  grid-area: header;
  background: var(--primary);
}

header h1 {
  /* positionering */
  display: flex;
  justify-content: center;
  padding: 1em;
  /* text customization */
  font-family: "customfont";
  text-transform: uppercase;
  color: var(--textprimary);
  font-size: 4em;
}

header button {
  /* positionering */
  display: flex;
  margin: auto;
  margin-bottom: 2em;
  /* text customization */
  font-family: "customfont";
  background: var(--textprimary);
  color: var(--primary);
  font-size: 2em;
  text-transform: uppercase;
  /* button customization */
  border: none;
  padding: 0 0.5em;
}

header button:hover {
  cursor: pointer;
}

main {
  grid-area: main;
}

article {
  display: flex;
  margin: 5em;
  background: white;
}

section {
  background: var(--secondary);
}

h2 {
  /* positionering */
  display: flex;
  justify-content: space-around;
  /* text customization */
  font-family: "customfont";
  text-transform: uppercase;
  color: var(--textsecondary);
}

footer {
  grid-area: footer;
}